html{
    color:#9AC5F4;
    background-color: lightblue;
}
#First{
    color:#9AC5F4;
    background-color: antiquewhite;
    text-align: center;
    text-decoration: dotted;
    bottom: 15cm;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}

.Part1-List{
    color:white;
    border:  8px solid antiquewhite;
    border-width: 10px, 10px ;
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-transform: capitalize;
    font-weight: normal;
}

.Aboutmepage1-1 h1{
    border: 8px solid antiquewhite;
    border-width: 10px, 10px;
    margin: 50px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
}

.Aboutmepage1-1 h2{
    
    color: white;
    text-align: center;
    font-size: x-large;
}
.AboutSchool1-1{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    border: 10px solid antiquewhite;
}

.Formusic{
    text-align: center;

}

.ExperiencE{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.SkillS{
    color: white;
    text-align: center;
}
.PROjects{
    color: white;
    text-align: center;
}