html{
    color:#9AC5F4;
    background-color: lightblue;
}
#First{
    color:#9AC5F4;
    background-color: antiquewhite;
    text-align: center;
    text-decoration: dotted;
    bottom: 15cm;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}

.Part1-List{
    color:white;
    border:  8px solid antiquewhite;
    border-width: 10px, 10px ;
    margin: 10px;
    padding: 5px;
    padding-left: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-transform: capitalize;
    font-weight: normal;
    width: 90%;
    display: inline-block;
    height: 100%;
    width: 100%;
    word-spacing: 1px;
    letter-spacing: 2px;
    list-style: none;


}

.Aboutmepage1-1 h1{
    border: 8px solid antiquewhite;
    border-width: 10px, 10px;
    margin:20px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
}
.Name1-1{
    border: 10px solid antiquewhite;
    margin: 5%;
    padding: 20px;
}

.Aboutmepage1-1 h2{
    
    color: white;
    text-align: center;
    font-size: x-large;
}
.AboutSchool1-1{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    border: 10px solid antiquewhite;
}

.Formusic{
    text-align: center;

}

.ExperiencE{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border: 10px solid antiquewhite;
}
.SkillS{
    color: white;
    text-align: center;
    border: 10px solid antiquewhite;

}


.PROjects{
    color: antiquewhite;
    text-align: center;
    border: 10px solid antiquewhite;
    padding: 10px;
    padding-right: 100px;
    margin: 0px auto;

}
.PROjects >.Prolist{
    list-style: none;
    
}