body{
    background-color: #FFEEBB;
    border: 25px solid white;
}

body .Desc1{
    text-align: center;
    color: #99DBF5;
}

body .NumbeR{
    text-align: center;
    color: #99DBF5;
    
}

body .Email{
    text-align: center;
    color: #99DBF5;
}
body .DesC2{
    text-align: center;
    color: #99DBF5;
}
footer{
    text-align: center;
    color: #99DBF5;
}
