li{

    font-size: medium;
    font-style: italic;
    color: white ;
    display: inline-block;
    border: 5px dotted bisque;
}
.title{
    text-align: center;
    /* 
    ! Don't forget adding more color
    Todo : Add animations, Bio, LINK(Instagram, linkedin, twitter
    ? Need more animations
    */
    font-size: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    position: sticky;
}
body{
    color: black;
    background-color: white;
}

h2{
    text-align: center;
    color: white;
    background-color: black;
    padding: 1%;
    margin: auto;
    width: 50%;
    border: 5px solid black;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    float: none;
    width: 50%;
}
ul a{
    color: black;
    text-align: center;
    border: 5px dotted white;
}
footer a, img{
    color: white;
    text-align: center;
    display: inline-block;
}
figcaption{
    color: black;
    background-color: white;
    text-align: center;
}
.Email{
    text-align: center;
    color: black;
}