body{
    background-color: wheat;
    font-weight: normal;
    height: 200px;
}
title{
    color: wheat;
}
#red{
    color: red;
    font-weight: normal;
}
img[alt="red"]{
    width: 200px;
    height: 200px;
}
#blue{
    color: blue;
    font-weight: normal;
}

img[alt="blue"]{
    width: 200px;
    height: 200px;
}
#orange{
    color: orange;
    font-weight: normal;
}
img[alt="orange"]{
    width: 200px;
    height: 200px;
}
#green{
    color: green;
    font-weight: normal;
}
img[alt="green"]{
    width: 200px;
    height: 200px;
}
#yellow{
    color: yellow;
    font-weight: normal;
}
img[alt="yellow"]{
    width: 200px;
    height: 200px;
}

.color-title{
    font-weight: bold;
}
img{
    width: 200px;
    height: 200px;
}