li{
    float: left;
    width: 33.33%;
    padding: 10px;
    
}
body{
    background-color: brown;
    background-image: url(Images/playingkimchiasshole.jpg);
    background-size: 50%;
    background-repeat: initial;
    background-position: right;
}